*{
    font-family: 'Kaushan Script';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  body{
    max-width: 1400px;
    margin: auto;
    background-color: #FFF28F;
  }

  .principale{
    background-image: url("../image/89403-OKS7NE-786.jpg");
    /* background-size: cover;
    background-repeat: no-repeat; */
    width: 100%;
    height: 150vh;
  }
  
  header{
    border-bottom: #13293D solid 5px;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end; /* aligne les éléments de la navbar à droite */
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 30px;
  }
  
  nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #13293D;
    font-size: 30px;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #FFF28F;
  }

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.histoire1,
.histoire2,
.histoire3,
.histoire4,
.histoire5,
.histoire6,
.histoire7,
.histoire8,
.histoire9 {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 20px;
}

.histoire1 img,
.histoire2 img,
.histoire3 img,
.histoire4 img,
.histoire5 img,
.histoire6 img,
.histoire7 img,
.histoire8 img,
.histoire9 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.text {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.histoire1:hover .overlay,
.histoire2:hover .overlay,
.histoire3:hover .overlay,
.histoire4:hover .overlay,
.histoire5:hover .overlay,
.histoire6:hover .overlay,
.histoire7:hover .overlay,
.histoire8:hover .overlay,
.histoire9:hover .overlay {
  opacity: 1;
}
