*{
  font-family: 'Kaushan Script';
}

header{
  border-bottom: #13293D solid 5px;
}

nav ul {
  display: flex;
  justify-content: flex-end; /* aligne les éléments de la navbar à droite */
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 30px;
}

nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #13293D;
  font-size: 30px;
  font-weight: bold;
}

nav a:hover {
  color: #FFF28F;
}

/* .container{
  border: solid black 5px;
  width: 70%;
  height: 70vh;
  display: block;
  justify-content: center center;
  margin-top: 50px; 
} */

.slogan{
  position: relative;
  width: 100%;
  height: 100vh;

  background-image: url(../image/89403-OKS7NE-786.jpg);

}
.container{
  display: block;
  justify-content: space-between;
  border: #FFF28F solid 5px;
}

.content{
  display: flex;
  justify-content: center;
  border: #FFF28F solid 5px;
}

.content1{
  text-align: center;
  justify-content: center;
  border: green solid 5px; 
 
}

.content2{
  display: flex;
  justify-content: center;
  border: red solid 5px;
}

.survole:hover{
color: white;
cursor: pointer;
}

.survole{
  margin-top: 15rem;
  font-size: 60px;
}




@media screen and (max-width: 768px) {
nav ul {
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  font-size: 20px;
}

.container {
  width: 90%;
  height: auto;
  margin: 20px 0;
}

}

@media screen and (max-width: 480px) {
nav li {
  margin: 0 5px;
}

nav a {
  font-size: 15px;
}

.container {
  width: 95%;
  height: auto;
  margin: 10px 0;
}
}