*{
  font-family: 'Kaushan Script';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  border-bottom: #13293D solid 5px;
}

nav ul {
  display: flex;
  justify-content: flex-end; /* aligne les éléments de la navbar à droite */
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 30px;
}

nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #13293D;
  font-size: 30px;
  font-weight: bold;
}

nav a:hover {
  color: #FFF28F;
}

/* .container{
  border: solid black 5px;
  width: 70%;
  height: 70vh;
  display: block;
  justify-content: center center;
  margin-top: 50px; 
} */

.slogan{
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../image/89403-OKS7NE-786.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.container{
  display: block;
  justify-content: space-between;
  margin-top: 2rem;
}

.content{
  display: flex;
  justify-content: center;
}

.content1{
  margin-top: 2rem;
  text-align: center;
  justify-content: center;
}

.content2{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.survole:hover{
color: white;
cursor: pointer;
}

.survole{
  margin-top: 15rem;
  font-size: 5rem;
  letter-spacing: 4.5rem;
}

#sur{
  color: #BE4D2E;
}

#sur:hover{
  color: white;
}

.about{
  background-color: #230C28;
  width: 100%;
  height: 60vh;
  text-align: center;
  font-size: 4rem;
  color: white;
}

p{
  margin-top: 2rem;
}


@media screen and (max-width: 768px) {
nav ul {
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  font-size: 20px;
}

.container {
  width: 90%;
  height: auto;
  margin: 20px 0;
}

}

@media screen and (max-width: 480px) {
nav li {
  margin: 0 5px;
}

nav a {
  font-size: 15px;
}

.container {
  width: 95%;
  height: auto;
  margin: 10px 0;
}
}