*{
  font-family: 'Kaushan Script';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  border-bottom: #13293D solid 5px;
}

nav ul {
  display: flex;
  justify-content: flex-end; /* aligne les éléments de la navbar à droite */
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 30px;
}

nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #13293D;
  font-size: 30px;
  font-weight: bold;
}

nav a:hover {
  color: #FFF28F;
}

/* .container{
  border: solid black 5px;
  width: 70%;
  height: 70vh;
  display: block;
  justify-content: center center;
  margin-top: 50px; 
} */

.slogan{
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../image/89403-OKS7NE-786.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.container{
  display: block;
  justify-content: space-between;
  margin-top: 2rem;
}

.content{
  display: flex;
  justify-content: center;
}

.content1{
  margin-top: 2rem;
  text-align: center;
  justify-content: center;
}

.content2{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.survole:hover{
color: white;
cursor: pointer;
}

.survole{
  margin-top: 15rem;
  font-size: 5rem;
  letter-spacing: 4.5rem;
}

#sur{
  color: #BE4D2E;
}

#sur:hover{
  color: white;
}

.about{
  display: flex;
  background-color: #230C28;
  width: 100%;
  height: 60vh;
  justify-content: center;
  text-align: center;
  font-size: 4rem;
  color: white;
}

#about{
  margin-top: 8rem;
}

p{
  font-family: 'Roboto Mono', monospace;
  font-size: 3rem;
}

.histoire{
  justify-content: center;
  align-items: center;
  background-image: url(../image/18774813_6034768.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.histoire h2{
  padding-top: 5rem;
  text-align: center;
  font-size: 3rem;
  border-bottom: 0.5rem solid black;
  max-width: fit-content;
  margin: 0 auto;
}

#histoire{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.histoire1, .histoire2, .histoire3{
  justify-content: center;
  margin-top: 5rem;
  text-align: center;
  width: 20rem;
  height: 30rem;
  border: #13293D solid 1px;
  border-radius: 20px;
}

.histoire1{
  background-image: url(../image/revolte-du-peuple-abbe-en-1910-contre-la-colonisation-le-colonialisme-francais-et-l-immigration-en-cote-d-ivoire-afrique-de-l-ouest-1910-illustration-ancienne-2e97jjg.jpeg);
  background-size: cover;
}

.histoire2{
background-image: url(../image/6a00d8341ce44553ef0133f5d39bcb970b-320wi.jpeg);
background-size: cover;
background-repeat: no-repeat;
background-position: center center;

}

.histoire3{
  background-image: url(../image/54372152_1006.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#text1, #text2, #text3{
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: white;
  width: 100%;
  border-radius: 50px;
  height: 2rem;
  margin-top: 28rem;
  font-size: 20px;
}
.btnvoirplus{
  width: 10rem;
  height: 3rem;
  background-color: #13293D;
  border: 1px solid #13293D;
  border-radius: 2rem;
  color: white;
  text-align: center;
  margin-left: 60rem;
  margin-top: 5rem;
  font-size: 2rem;
  cursor: pointer;
}

.ilaime{
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #230C28;
}

.aime1{
  width: 300px;
  height: 300px;
  border: #BE4D2E dotted 0.5rem;
  border-radius: 50%;
background-image: url(../image/jeunes-filles-passent-du-temps-maison.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.aime2{
  width: 300px;
  height: 300px;
  border: #BE4D2E dotted 0.5rem;
  border-radius: 50%;
background-image: url(../image/portrait-homme-afro-americain-maison.jpg);
background-size: cover;

}

.aime3{
  width: 300px;
  height: 300px;
  border: #BE4D2E dotted 0.5rem;
  border-radius: 50%;
background-image: url(../image/jeune-femme-afro-americaine-souriante-regardant-loin.jpg);
background-size: cover;

}

.aime4{
  width: 300px;
  height: 300px;
  border: #BE4D2E dotted 0.5rem;
  border-radius: 50%;
 background-image: url(../image/portrait-jeune-garcon-africain.jpg);
 background-size: cover;
  
}


@media screen and (max-width: 768px) {
nav ul {
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  font-size: 20px;
}

.container {
  width: 90%;
  height: auto;
  margin: 20px 0;
}

}

@media screen and (max-width: 480px) {
nav li {
  margin: 0 5px;
}

nav a {
  font-size: 15px;
}

.container {
  width: 95%;
  height: auto;
  margin: 10px 0;
}
}
